.lightbox{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px;
    -webkit-backdrop-filter: blur(8px);
    //padding: 2em;
    box-sizing: border-box;
    padding: 2em;
    // .lightboxContainer{
    //     width: 100%;
    //     height: 100%;
    //     //box-sizing: border-box;
    // }
    img{
        //box-sizing: border-box;
        width: auto;
        height: auto;
        //margin: 2em;
        padding: 0px;
        max-height: 100%;
        max-width: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        background-color: rgba(50,50,50,0);
        box-shadow: #000000 0px 0px 40px;
    }
    .close {
      position: absolute;
      right: 32px;
      top: 32px;
      width: 32px;
      height: 32px;
      opacity: 0.6;
    }
    .close:hover {
      opacity: 1;
    }
    .close:before, .close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #fff;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }

}
