@import 'normalize';
@import 'variables';
@import url( 'https://fonts.googleapis.com/css?family=Raleway:500,800|Ubuntu:400,800|Quicksand');
@import 'breakpoints';
@import 'banner';
@import 'sidebar';
@import 'resume';
@import 'photos';
@import 'lightbox';
//@import 'photoswipe';

.hidden{
    display: none;
}
.visible{
    display: block;
}
.startScroll{
    overflow: hidden;
}
.stopScroll{
    overflow: hidden;
}
body {
    background-color: rgb(240,240,240);
    //background-color: $background;
}

li {
    margin: 0 0 0.8rem;
}

a {
    color: $primary-color;
}

.headshot {
    border-radius: 50%;
    width: 40%;
    border: 3px solid #fff;
    -webkit-box-shadow: 0 0 17px -1px rgba(0,0,0,0.43);
    -moz-box-shadow: 0 0 17px -1px rgba(0,0,0,0.43);
    box-shadow: 0 0 17px -1px rgba(0,0,0,0.43);
    position: relative;
    //float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: -14vw;
    max-width: 280px;
    @include breakpoint(xs){
        width: 30%;
        margin-bottom: -12vw;

    }
    @include breakpoint(sm){
        width: 22%;
        margin-bottom: -9vw;
    }
    //display: none;
}

.sidebar {
    //width: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: grey;
    position: fixed;
    background: rgba(60,60,60,1);
    // background: -moz-linear-gradient(left, rgba(161,161,161,1) 0%, rgba(115,115,115,1) 38%, rgba(56,56,56,1) 84%, rgba(46,46,46,1) 100%);
    // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(161,161,161,1)), color-stop(38%, rgba(115,115,115,1)), color-stop(84%, rgba(56,56,56,1)), color-stop(100%, rgba(46,46,46,1)));
    // background: -webkit-linear-gradient(left, rgba(161,161,161,1) 0%, rgba(115,115,115,1) 38%, rgba(56,56,56,1) 84%, rgba(46,46,46,1) 100%);
    // background: -o-linear-gradient(left, rgba(161,161,161,1) 0%, rgba(115,115,115,1) 38%, rgba(56,56,56,1) 84%, rgba(46,46,46,1) 100%);
    // background: -ms-linear-gradient(left, rgba(161,161,161,1) 0%, rgba(115,115,115,1) 38%, rgba(56,56,56,1) 84%, rgba(46,46,46,1) 100%);
    // background: linear-gradient(to right, rgba(161,161,161,1) 0%, rgba(115,115,115,1) 38%, rgba(56,56,56,1) 84%, rgba(46,46,46,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1a1a1', endColorstr='#2e2e2e', GradientType=1 );
    display: none;
}

section {
    //margin: -60px auto 0 auto;
    padding: 2rem 1.5rem 2rem 1.5rem;
    @include breakpoint(xs) {
        padding: 2rem 2.5rem 2rem 2.5rem;
    }
    @include breakpoint(sm) {
        padding: 3rem 3.5rem 3rem 3.5rem;
    }
    @include breakpoint(md) {
        padding: 4rem 8rem 4rem 8rem;
    }
    @include breakpoint(lg) {
        padding: 4rem 12rem 4rem 12rem;
    }
    //padding: 3rem 6rem 3rem 6rem;
    //color: #000;
    h2 {
        margin: 0 auto 2rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        font-family: $hfonts;

        @include breakpoint(xs){
            font-size: 4vw;
            margin: 0rem 0rem 1rem 0rem;
        }
        @include breakpoint(sm){
            font-size: 3.2vw;
            margin: 0rem 0rem 2rem 0rem;
        }
    }

    p {
        margin: 0 0 1.2rem 0;
        //max-width: 900px;
        @include breakpoint(xs){
            font-size: 2.6vw;
            line-height: 4vw;
        }
        @include breakpoint(sm){
            font-size: 16px;
            line-height: 24px;
        }
        @include breakpoint(md){
            font-size: 18px;
            line-height: 26px;
        }
    }
}
.about{

}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.shortened {
    padding-top: 0;
}

.secondary {
    background-color: rgb(220,220,220);
}

.tertiary {
    background-color: rgb(203, 203, 203);
}

.flexbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    // .flex-item {
    //     width: 50%;
    // }
    @include breakpoint(sm){
        flex-direction: row;
        //flex-wrap: nowrap;
        .flex-item{
            width: 50%;
        }
    }
}

.icon-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    @include breakpoint(xs){
        //background-color: blue;
        width: 100%;
    };
}

.secondary h2 {
    //color: green;
}

.icons {

    li {
        flex-grow: 1;
        list-style: none;
        text-align: center;
        //background-color: red;
        span {
            display: block;
            margin-top: 0.5rem;
        }
    }
}
