.sidebar-nav{
    ul{
      list-style: none;
      margin: 0px;
      padding: 0px;
      -webkit-transition: width .3s, height .3s, background-color .3s, -webkit-transform .3s;
      transition: width .3s, height .3s, background-color .3s, transform .3s;
  }
    li{
        padding: 16px 18px 18px 16px;
        margin-bottom: 2px;
        border-left: 3px solid rgba(0,0,0,.0);
        color: #bbbbbb;
        overflow-x: hidden;
        white-space: nowrap;
        -webkit-transition: width .3s, height .3s, background-color .3s, -webkit-transform .3s;
        transition: width .3s, height .3s, background-color .3s, transform .3s;
    }
    li:hover{
        border-left: 3px solid rgba(0,100,100,1);
        background-color: rgba(0,0,0,1);
        color: #acacac;
        -webkit-transition: width .3s, height .3s, background-color .3s, -webkit-transform .3s;
        transition: width .3s, height .3s, background-color .3s, transform .3s;
    }
    .navlabel{
        display: none;
    }
}

// .slide {
//     display: inline-block;
//     width: 600px;
//     white-space: normal;
// }
// .collapsed{
//     width: 60px;
//     -webkit-transition: width .3s, height .3s, background-color .3s, -webkit-transform .3s;
//     transition: width .3s, height .3s, background-color .3s, transform .3s;
//     transition-timing-function: ease-in-out;
//     .navlabel{
//         //display: hidden;
//     }
// }
.expanded{
    width: 160px;
    -webkit-transition: width .3s, height .3s, background-color .3s, -webkit-transform .3s;
    transition: width .3s, height .3s, background-color .3s, transform .3s;
    transition-timing-function: ease-in-out;
    .navlabel{
        display: inline-block;
        -webkit-transition: width .3s, height .3s, background-color .3s, -webkit-transform .3s;
        transition: width .3s, height .3s, background-color .3s, transform .3s;
        transition-timing-function: ease-in-out;
    }
    li{
        span{
            display: block;
        }
        //animation-duration: 4s;
    }

}
